<template>
    <div class="carousel">
      <slot></slot>
      <button class="carousel-btn carousel-previous" @click.prevent="previous"></button>
      <button class="carousel-btn carousel-next" @click.prevent="next"></button>
      <div class="carousel-pagination">
        <button v-for="n in count" @click.prevent="goTo(n-1)" :class="{active : n-1 == current}"></button>
      </div>
    </div>
</template>
<script>
  export default {
    data() {
      return {
        current: 0,
        slides: [],
        direction: null
      }
    },
    mounted() {
      this.slides = this.$children
    },
    computed: {
      count () {
        return this.slides.length;
      }
    },
    methods: {
      next (){
        this.current++
        this.direction = 'right'
        if(this.current == this.slides.length){
          this.current = 0
        }
      },
      previous () {
        this.current--
        this.direction = 'left'
        if(this.current < 0 ){
          this.current = this.slides.length -1
        }
      },
      goTo(i){
        this.direction = this.current > i ? "right" : "left"
        this.current = i;
      }
    },
    watch : {
      slides (slides){
        if(this.current >= this.count){
          this.current = this.count - 1
        }
      }
    }
  }
</script>

<style>
    .carousel{
      position: relative;
      left:0;
      right:0;
      width:100%;
    }
    .carousel-btn{
      position:absolute;
      top: 50%;
      left:10px;
      width:64px;
      height: 64px;
      margin-top:-32px;
      opacity: 0.7;
    }
    .carousel-btn.carousel-next{
      right: 10px;
      left:auto;
      background: url(next.png);
      border:none;
    }
    .carousel-btn.carousel-previous{
      background: url(previous.png);
    }
  .carousel-btn:hover{  cursor: pointer; }
  .carousel-pagination{
    position: absolute;
    bottom: 10px;
    right: 50%;
  }
  .carousel-pagination button{
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 16px;
    margin: 0 2px;
    opacity: 0.6;
    cursor: pointer;
  }
  .carousel-pagination .active{
    width: 18px;
    height: 18px;
    border-radius: 18px;
    opacity: 0.9;
  }
</style>