<template>
    <transition :name="transition">
        <div class="carousel-slide" v-show="selected">
            <slot></slot>
        </div>
    </transition>
</template>
<script>
  export default {
    props : {
      index : {type : Number, default: 0}
    },
    computed: {
      selected () {
          return this.index == this.$parent.current
      },
      transition () {
        if(this.$parent.direction){
          return 'slide-'+this.$parent.direction
        }
      }
    }
  }
</script>


<style>
    .carousel-slide-title{
      position: absolute;
      top: 10px;
      right: 50%;
      margin-bottom:10px;
      font-family:Helvetica;
      font-style: italic;
      color: white;
    }
    /*Transition style*/
    .slide-left-enter-active{
        animation: slideLeftIn 2s;
    }
    .slide-left-leave-active{
      animation: slideLeftOut 2s;
      position: absolute;
      top: 0;
      left:0;
      right:0;
      left: 0;
      width: 100%;
    }
    .slide-right-enter-active{
      animation: slideRightIn 2s;
    }
    .slide-right-leave-active{
      animation: slideRightOut 2s;
      position: absolute;
      top: 0;
      left:0;
      right:0;
      left: 0;
      width: 100%;
    }
    @keyframes slideLeftIn {
        from { transform: translateX(100%) }
        to { transform: translateX(0) }
    }
    @keyframes slideLeftOut {
        from { transform: translateX(0) }
        to { transform: translateX(-100%) }
    }
    @keyframes slideRightIn {
      from { transform: translateX(-100%) }
      to { transform: translateX(0) }
    }
    @keyframes slideRightOut {
      from { transform: translateX(0) }
      to { transform: translateX(100%) }
    }
</style>