<template>
  <div id="app">
    <h1>Carousel</h1>
    <carousel>
      <carousel-slide v-for="n in slides" :index="n-1" :key="n">
        <div class="carousel-slide-title">SLIDE {{n}}</div>
        <img :src="'http://lorempicsum.com/nemo/630/300/'+ n" class="carousel-slide-content" alt="" width="100%">
      </carousel-slide>
    </carousel>
    <button @click.prevent="addSlide">Add slide</button>
    <button @click.prevent="deleteSlide">Delete slide</button>
  </div>
</template>

<script>
import carousel from './components/carousel/Carousel.vue'
import carouselSlide from './components/carousel/carouselSlide.vue'
export default {
  name: 'app',
  data () {
    return {
      slides: 5
    }
  },
  components: {
      carousel,
      carouselSlide
  },
  methods: {
    addSlide () {
      this.slides++
    },
    deleteSlide() {
      this.slides--
    }
  }
}
</script>

<style>
body {
  margin:0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
button{
  background: none;
  border: none;
}
button:active,button:focus{
  outline: none;
}
</style>
